* {
    box-sizing: border-box;
}

div {
    display: flex;

}
h2 {
    margin-left: 5px;
    margin-bottom: 0;
    color: orange;
}
body {
    font-family: helvetica, arial, sans-serif;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    word-break:break-word;

}

.links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: lightgrey;
    width: 15%;
    margin: 5px 0 5px 5px;
}
.links > a {
    margin: 5px;
}

h1 {
    align-self: center;
}
table {
    margin: 5px;
    border-collapse: collapse;
    table-layout: fixed;
}
ul {
    list-style-type: none;
    padding-left: 5px;
}

tbody tr:nth-child(odd) {
    background-color: orange;
}
tbody tr:nth-child(even) {
    background-color: aliceblue;
}

th, td {
    border: 1px solid black;
    text-align: center;
    width: 25%;
}
footer {
    display: flex;
    justify-content: space-between;
}

.rechts {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    width: 85%;
    margin: 5px 5px 5px 0 ;
}
img:hover {
    border: 10px gray;
    padding: 3px;
    transform: translateY(-15px);

}

thead tr {
    background-color: lightgoldenrodyellow;
}
a {
    border-radius: 3px;
}

@media only screen and (max-width: 480px) {
    body {
        background-color: lightblue;
    }
}

@media only screen and (max-width: 480px) {
    table {
        display: none;
    }
}
@media only screen and (min-width: 481px)  {
    .studiesMobiel,.titelStudies, .ervaringMobiel, .titelErvaring {
        display: none;
    }
}